{% extends '../base.html' %}
{% load custom %}


{% block page-container %}


    <div class="wrap-left">
        <div class="article-title-bg">{{ article_obj.title }}</div>
        <div class="article-title-brief">
            <span>作者：{{ article_obj.author.name }}</span>
            <span>时间：{{ article_obj.pub_date }}</span>
            <span>
                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                {% filter_comment article_obj as comments %}
                {{ comments.comment_count }}
            </span>
        </div>
        <div class="">
            <img class="article-detail-head-img" src="/static/{{ article_obj.head_img|truncate_url }}">

        </div>
        <div class="article-content">
        {{ article_obj.content }}
        </div>

        <div class="comment-box">
            {% if request.user.is_authenticated %}
                <div class="new-comment-box">
                     <textarea class="form-control" rows="3"></textarea>
                     <button style="margin-top: 10px" type="button" class="btn btn-success pull-right">评论</button>
                </div>

            {% else %}
                <div class="jumbotron">
                  <h4 class="text-center">请<a class="btn-link" href="{% url 'login' %}?next={{ request.path }}">登录</a>后评论</h4>

                </div>

            {% endif %}
        <div class="comment_list">

        </div>

        </div>
        <button type="button" onclick="GetComments()">测试评论</button>

    </div>

    <div class="wrap-right">
        right
    </div>

    <div class="clear-both"></div>
{% endblock %}

{#post请求#}
{% block bottom-js %}
    <script>
    function GetComments() {
        $.get("{% url 'get_comments' article_obj.id %}",function(callback){
            //console.log(callback);

            $(".comment_list").html(callback);
            //start add comment
            $(".add-comment").click(function(){
              var comment_id =  $(this).attr("comment-id");
              console.log("comment id:" + comment_id);
              var new_comment_box_div = $(".new-comment-box").clone(true);//加true会克隆事件


              $(".new-comment-box").remove();//删除之前的
              $(this).parent().append(new_comment_box_div);

            });

            //end add
        });//end get
    }

    function getCsrf() {
        return $("input[name='csrfmiddlewaretoken']").val();//获取csrf的值
    }
        $(document).ready(function(){
            GetComments();//页面加载后显示评论

            $(".comment-box button").click(function () {//绑定这个事件
               var comment_text= $(".comment-box textarea").val();//获取评论值
                if (comment_text.trim().length<5){//如果字数小于五
                   alert('评论不能少于5个字，二五')//弹出提示
                }else{//否则
                    //post
                    var parent_comment_id = $(this).parent().prev().attr('comment-id');
                    $.post("{% url 'post_comment' %}",//提交post内容到post_comment
                            {
                                'comment_type':1,//评论类型 1为评论，2为点赞
                                article_id:"{{ article_obj.id }}",//提交被评论的是哪个文章
                                parent_comment_id:parent_comment_id,//提交是否为子评论
                                'comment':comment_text.trim(),//提交获取评论内容
                                'csrfmiddlewaretoken':getCsrf()//提交csft的token值

                            },//#end post args

                                function(callback){//回调函数
                                    //console.log(callback);//显示被回调的值
                                    if (callback == 'post-comment-success'){

                                        var new_comment_box_div = $(".new-comment-box").clone(true);//加true会克隆事件
                                        $(".comment_list").before(new_comment_box_div);//在刷新评论之前把评论框再放回文章底部
                                        $(".new-comment-box textarea").val("");//清除内容
                                        GetComments();//alert("post-comment-success")
                                    }

                            })//end post
                }

            });//end button
        });
    </script>
{% endblock %}