{% extends '../base.html' %}
{% load custom %}


{% block page-container %}
    <div class="wrap-left">
       <form method="post" enctype="multipart/form-data">{% csrf_token %}
{#           <textarea id="article-content"></textarea>#}
           {{ article_form }}
           <input type="submit" value="发贴" class="btn btn-success pull-right">
       </form>
        <form method="post" action="{% url 'file_upload'  %}" enctype="multipart/form-data">{% csrf_token %}
            <input name="filename" type="file">
            <input type="submit" value="上传">
        </form>
    </div>

    <div class="wrap-right">
        right
    </div>

    <div class="clear-both"></div>
{% endblock %}

{% block bottom-js %}
<script src="/static/plugins/ckeditor/ckeditor.js"></script>
<script type="text/javascript">
CKEDITOR.replace('id_content')
</script>
{% endblock %}